[submodule "blockchain-in-js"]
	path = blockchain-in-js
	url = git@github.com:EgoSay/blockchain-in-js.git
[submodule "basis/lib/forge-std"]
	path = basis/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basis/lib/openzeppelin-contracts"]
	path = basis/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "wallet-connect"]
	path = wallet-connect
	url = git@github.com:EgoSay/wallet-connect.git
